
:root {
    --cor-primario: #DBCBBD;
    --cor-secundaria: #290001;
    --cor-terciaria: #87431D;
    --cor-alternativa1: #C87941;
    --cor-alternativa2: #000000;
}




* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primario)
}

hr {
    width: 80%;
}

.head__title {
    color: var(--cor-secundaria);
}
